@{
    ViewBag.Title = "Link Tests";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <div>
        Test 302: @Html.ActionLink("Temporary", "Temporary", "Redirect")
    </div>

    <div>
        Test 301: @Html.ActionLink("Permanent", "Permanent", "Redirect")
    </div>
            
    <div>
        Test External: @Html.ActionLink("External", "External", "Redirect")
    </div>

</article>