@using Headless.DemoSite.Models
@model FormData

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(m => m.Hidden)
    
    <fieldset>
        <legend>Edit form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Color)
                @Html.TextBoxFor(m => m.Color, new { @type = "color"})
                @Html.ValidationMessageFor(m => m.Color)
            </li>
            <li>
                @Html.LabelFor(m => m.Date)
                @Html.TextBoxFor(m => m.Date, new { @type = "date"})
                @Html.ValidationMessageFor(m => m.Date)
            </li>
            <li>
                @Html.LabelFor(m => m.DateTime)
                @Html.TextBoxFor(m => m.DateTime, new { @type = "datetime"})
                @Html.ValidationMessageFor(m => m.DateTime)
            </li>
            <li>
                @Html.LabelFor(m => m.DateTimeLocal)
                @Html.TextBoxFor(m => m.DateTimeLocal, new { @type = "datetime-local"})
                @Html.ValidationMessageFor(m => m.DateTimeLocal)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @type = "email"})
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Month)
                @Html.TextBoxFor(m => m.Month, new { @type = "month"})
                @Html.ValidationMessageFor(m => m.Month)
            </li>
            <li>
                @Html.LabelFor(m => m.Number)
                @Html.TextBoxFor(m => m.Number, new { @type = "number"})
                @Html.ValidationMessageFor(m => m.Number)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.Range)
                @Html.TextBoxFor(m => m.Range, new { @type = "range"})
                @Html.ValidationMessageFor(m => m.Range)
            </li>
            <li>
                @Html.LabelFor(m => m.Search)
                @Html.TextBoxFor(m => m.Search, new { @type = "search"})
                @Html.ValidationMessageFor(m => m.Search)
            </li>
            <li>
                @Html.LabelFor(m => m.Tel)
                @Html.TextBoxFor(m => m.Tel, new { @type = "tel"})
                @Html.ValidationMessageFor(m => m.Tel)
            </li>
            <li>
                @Html.LabelFor(m => m.Text)
                @Html.TextBoxFor(m => m.Text)
                @Html.ValidationMessageFor(m => m.Text)
            </li>
            <li>
                @Html.LabelFor(m => m.TextBlock)
                @Html.TextAreaFor(m => m.TextBlock)
                @Html.ValidationMessageFor(m => m.TextBlock)
            </li>
            <li>
                @Html.LabelFor(m => m.Time)
                @Html.TextBoxFor(m => m.Time, new { @type = "time"})
                @Html.ValidationMessageFor(m => m.Time)
            </li>
            <li>
                @Html.LabelFor(m => m.Url)
                @Html.TextBoxFor(m => m.Url, new { @type = "url"})
                @Html.ValidationMessageFor(m => m.Url)
            </li>
            <li>
                @Html.LabelFor(m => m.Week)
                @Html.TextBoxFor(m => m.Week, new { @type = "week"})
                @Html.ValidationMessageFor(m => m.Week)
            </li>
            <li>
                @Html.LabelFor(m => m.Toggle)
                @Html.CheckBoxFor(m => m.Toggle)
                @Html.ValidationMessageFor(m => m.Toggle)
            </li>
        </ol>
        <input type="submit" value="Submit" name="Submit" />
    </fieldset>
}